{% for field in form %}
    {% if field.label %}
    <label class="label-text" for="id_{{ field.html_name }}">{{ field.label }}</label>
    {% endif %}
    <div class="input-text-wrap clearfix {% if field.errors|length > 0 %}error{% endif %}">
        {{ field }}
        {% if field.errors|length > 0 %}
            <div class="input-text-error">
            {% for error in field.errors %}
                {{ error }}
            {% endfor %}
                <span></span>
            </div>
        {% endif %}
    </div>
{% endfor %}