{% extends 'base.html' %}

{% block page_title %}Bupa.ru{% endblock %}
{% block body_content %}
    <section class="content">
        <div class="content-inside clearfix">
            <div class="text clearfix">
                <ul class="breadcrumbs clearfix">
                    <li><a href="/">Bupa Ru</a>&nbsp;&rarr;&nbsp;</li>
                    <li>{{ article.title }}</li>
                </ul>
                <h1>{{ article.title }}</h1>
                {% ifequal article.slug 'oms-dms-mms' %}
                    <div class="programm-table">
                    {{ article.text|safe }}
                    </div>
                {% else %}
                    {{ article.text|safe }}
                {% endifequal %}
            </div>
        </div>
    </section>
{% endblock %}