{% extends 'base.html' %}

{% block page_title %}Bupolis - Список статей{% endblock %}
{% block body_content %}
    <section class="content">
        <div class="content-inside clearfix">
            <div class="text clearfix">
                <ul class="breadcrumbs clearfix">
                    <li><a href="/">Bupolis</a>&nbsp;&rarr;&nbsp;</li>
                    <li>Полезная информация</li>
                </ul>
                <h1>Полезная информация</h1>
                <div class="news">
                    {% for item in articles %}
                        <div class="news-item clearfix">
                            <div class="news-item-name"><a href="/article/{{ item.slug }}">{{ item.title }}</a></div>
                            {{ item.text|safe|truncatewords:40 }}
                        </div><!-- news-item -->
                    {% endfor %}
                </div><!-- news -->
            </div>
        </div>
    </section>
{% endblock %}