{% extends 'base.html' %}

{% block page_title %}Bupa.ru{% endblock %}
{% block body_content %}
<section class="content">
    <div class="content-inside clearfix">
        <div class="text clearfix">
            <ul class="breadcrumbs clearfix">
                <li><a href="/">Bupa Ru</a>&nbsp;&rarr;&nbsp;</li>
                <li>{{ category.title }}</li>
            </ul>
            <div class="about-title">{{ category.title }}</div>
            {{ category.article.text|safe }}
        </div>
    </div>
</section>
{% endblock %}