{% extends 'base.html' %}

{% block page_title %}Bupolis - Предложения для юридических лиц{% endblock %}
{% block body_content %}
    <section class="content">
        <div class="content-inside clearfix">
            <div class="text clearfix">
                <ul class="breadcrumbs clearfix">
                    <li><a href="#">Bupolis</a>&nbsp;&rarr;&nbsp;</li>
                    <li>Организациям</li>
                </ul>
                <h1>Предложения для компаний</h1>
                <h2>Выберите свою категорию:</h2>
                <div class="category-all clearfix">
                    {% for category in categories %}
                        <div class="category clearfix">
                            <img src="/static/img/{{ category.image_name }}" width="93" height="84" alt="">
                            <div class="category-desc">
                                <div class="category-title">{{ category.title }}</div>
                                <p>{{ category.article.text|removetags:'a p strong'|truncatechars:70 }}</p>
                                <a href="/category/{{ category.article.slug }}" class="category-button">Подробнее</a>
                            </div><!-- category-desc -->
                        </div><!-- category -->
                    {% endfor %}
                </div><!-- category-all -->
                <h2>Преимущества страхования по программе Company Plan</h2>
                {% if article %}
                    {{ article.text|safe }}
                {% endif %}
            </div><!-- text -->
        </div><!-- content-inside -->
    </section><!-- content -->
{% endblock %}