{% extends 'base.html' %}

{% block page_title %}Bupolis - Контакты{% endblock %}
{% block body_content %}
    <section class="content">
        <div class="content-inside clearfix" style="min-height:100%;">
            <div class="text clearfix">

                <div class="about-title">Наши контакты</div>
                <div style="font-size: 14px;margin: 0.2em;">Телефон: +7 (495) 223-04-61</div>
                <div style="font-size: 14px;margin: 0.2em;">Email: info@bupolis.ru</div>
                <div style="font-size: 14px;margin: 0.2em 0.2em 1em 0.2em;">Skype: polis-ingos</div>
                <div style="font-size: 18px;margin: 0.2em 0.2em 1em 0;">Юридическое информирование</div>
                <div>{{ article.text|safe }}</div>
            </div>
        </div>
    </section>
{% endblock %}