{% extends 'base.html' %}

{% block page_title %}Bupa.ru{% endblock %}
{% block body_content %}
    <section class="content">
        <div class="content-inside clearfix">
            <div class="text clearfix">
                <ul class="breadcrumbs clearfix">
                    <li><a href="/">Bupa Ru</a>&nbsp;&rarr;&nbsp;</li>
                    <li>Faq</li>
                </ul>
                <h1>Часто задаваемые вопросы</h1>
                <div class="news">
                    {% for item in faqs %}
                        <div class="news-item clearfix">
                            <div class="news-item-name"><p><a href="javascript:void();" onclick="$('.faq-answer').hide();$('#faq{{ item.id }}').show();">
                                {{ item.question|removetags:'a p'|safe }}</a></p></div>
                            <div class="news-item-name faq-answer" id="faq{{ item.id }}" style="display: none;">
                                <div style="font-size:14px; font-weight: bold;">Ответ:</div>
                                {{ item.answer|safe }}
                            </div>
                        </div><!-- news-item -->
                    {% endfor %}
                </div><!-- news -->
            </div>
        </div>
    </section>
{% endblock %}