{% extends 'base.html' %}

{% block page_title %}Bupa.ru{% endblock %}
{% block body_content %}
            <section class="content">
                <div class="content-inside clearfix">
                    <div class="text clearfix">
                        <div class="about-title"><strong>Международное медицинское страхование</strong><br>от признанного лидера</div>
                        <p>Разработка медиаплана стабилизирует сублимированный <a href="#">целевой трафик</a>, оптимизируя бюджеты. Начальная стадия проведения исследования, анализируя результаты рекламной кампании, существенно поддерживает институциональный анализ.</p>
                        <div class="reasons-img"><img src="/static/img/reasons-img.jpg" width="646" height="190" alt=""></div>
                        <div class="reasons-all clearfix">
                            <div class="reasons">
                                <div class="reasons-number">1</div>
                                <div class="reasons-desc">
                                    <strong>Всеобъемлющая территория</strong> покрытия (Родной город–Россия–Весь мир)
                                </div>
                            </div><div class="reasons">
                            <div class="reasons-number">2</div>
                            <div class="reasons-desc">
                                Можно легко составить <strong>индивидуальную программу</strong> в соответствии с потребностями здоровья и семьи, выбирая лишь необходимые опции
                            </div>
                        </div><div class="reasons">
                            <div class="reasons-number">3</div>
                            <div class="reasons-desc">
                                <strong>Высокий лимит</strong> покрытия (до 2.5 млн долларов США), оказание медпомощи при очень тяжелых состояниях, отсутствие исключений для травматичных видов деятельности
                            </div>
                        </div><div class="reasons">
                            <div class="reasons-number">4</div>
                            <div class="reasons-desc">
                                <strong>Сервис европейского качества</strong> предоставляется от всемирно известной международной компании BUPA International
                            </div>
                        </div><div class="reasons">
                            <div class="reasons-number">5</div>
                            <div class="reasons-desc">
                                Медицинская помощь предоставляется <strong>в любой точке мира</strong> 24/365 в соответствии с выбранной программой (более 7500 медучреждений или по счету от врача)
                            </div>
                        </div><!-- reasons -->
                        </div><!-- reasons-all -->
                        <a href="#" class="orange-button orange-button-content">подобрать полис</a>
                        <div class="news">
                            <div class="news-title"><a href="#">Новости</a> медстрахования:</div>
                            <div class="news-item clearfix">
                                <div class="news-item-date">9 января, 2013</div>
                                <div class="news-item-name"><a href="#">Российских заключенных обеспечат медстраховкой</a></div>
                                <p>Все обитатели российских исправительных колоний, возможно, уже в ближайшем году будут обеспечены медицинской страховкой. об этом рассказал глава финансово-экономического управления...</p>
                            </div><!-- news-item -->
                            <div class="news-item clearfix">
                                <div class="news-item-date">25 декабря, 2012</div>
                                <div class="news-item-name"><a href="#">10 перспективных терапевтических вакцин</a></div>
                                <p>Все обитатели российских исправительных колоний, возможно, уже в ближайшем году будут обеспечены медицинской страховкой. об этом рассказал глава финансово-экономического управления...</p>
                            </div><!-- news-item -->
                            <div class="news-item clearfix">
                                <div class="news-item-date">17 ноября, 2013</div>
                                <div class="news-item-name"><a href="#">Медицинские работники продолжают полагаться на бумажные документы</a></div>
                                <p>Все обитатели российских исправительных колоний, возможно, уже в ближайшем году будут обеспечены медицинской страховкой. об этом рассказал глава финансово-экономического управления...</p>
                            </div><!-- news-item -->
                        </div><!-- news -->
                    </div><!-- text -->
                </div><!-- content-inside -->
            </section><!-- content -->
{% endblock %}