{% extends 'base.html' %}

{% block page_title %}Bupa.ru{% endblock %}
{% block body_content %}
            <section class="content">
                <div class="content-inside clearfix">
                    <div class="text clearfix">
                        <div class="about-title"><strong>Международное медицинское страхование</strong><br>от признанного лидера</div>
                        <p>ОСАО «Ингосстрах» и Bupa International объединились, чтобы предложить своим клиентам широкий выбор программ Международного медицинского страхования.
                            Совместные знания, опыт и компетентность в области Международного медицинского страхования позволяют Bupa International и ОСАО «Ингосстрах» заботиться о своих клиентах,
                            в какой бы части света они ни находились.</p>
                        <div class="reasons-img"><img src="/static/img/reasons-img.jpg" width="646" height="190" alt=""></div>
                        <div class="reasons-all clearfix">
                            <div class="reasons">
                                <div class="reasons-number">1</div>
                                <div class="reasons-desc">
                                    <strong>Всеобъемлющая территория</strong> покрытия (Родной город–Россия–Весь мир)
                                </div>
                            </div><div class="reasons">
                            <div class="reasons-number">2</div>
                            <div class="reasons-desc">
                                Можно легко составить <strong>индивидуальную программу</strong> в соответствии с потребностями здоровья и семьи, выбирая лишь необходимые опции
                            </div>
                        </div><div class="reasons">
                            <div class="reasons-number">3</div>
                            <div class="reasons-desc">
                                <strong>Высокий лимит</strong> покрытия (до 2.5 млн долларов США), оказание медпомощи при очень тяжелых состояниях, отсутствие исключений для травматичных видов деятельности
                            </div>
                        </div><div class="reasons">
                            <div class="reasons-number">4</div>
                            <div class="reasons-desc">
                                <strong>Сервис европейского качества</strong> предоставляется от всемирно известной международной компании BUPA International
                            </div>
                        </div><div class="reasons">
                            <div class="reasons-number">5</div>
                            <div class="reasons-desc">
                                Медицинская помощь предоставляется <strong>в любой точке мира</strong> 24/365 в соответствии с выбранной программой (более 7500 медучреждений или по счету от врача)
                            </div>
                        </div><!-- reasons -->
                        </div><!-- reasons-all -->
                        <a href="/order/calculate" class="orange-button orange-button-content">подобрать полис</a>
                        <div class="news">
                            <div class="news-title"><a href="/news">Новости</a> медстрахования:</div>
                            {% for item in news %}
                            <div class="news-item clearfix">
                                <div class="news-item-date">{{ item.date|date:"d.m.Y" }}</div>
                                <div class="news-item-name"><a href="/news-item/{{ item.id }}">{{ item.title }}</a></div>
                                {{ item.anounce|safe }}
                            </div><!-- news-item -->
                            {% endfor %}
                        </div><!-- news -->
                    </div><!-- text -->
                </div><!-- content-inside -->
            </section><!-- content -->
{% endblock %}