{% extends 'base.html' %}

{% block page_title %}Bupolis - Новости{% endblock %}
{% block body_content %}
<section class="content">
    <div class="content-inside clearfix">
        <div class="text clearfix">
            <ul class="breadcrumbs clearfix">
                <li><a href="/">Bupolis</a>&nbsp;&rarr;&nbsp;</li>
                <li>Новости</li>
            </ul>
            <div class="news">
                {% for item in news %}
                    <div class="news-item clearfix">
                        <div class="news-item-date">{{ item.date|date:"d.m.Y" }}</div>
                        <div class="news-item-name"><a href="/news-item/{{ item.id }}">{{ item.title }}</a></div>
                        {{ item.anounce|safe }}
                    </div><!-- news-item -->
                {% endfor %}
            </div><!-- news -->
        </div>
    </div>
</section>
{% endblock %}