{% extends 'base.html' %}

{% block page_title %}Bupa.ru{% endblock %}
{% block body_content %}
    <section class="content">
        <div class="content-inside clearfix">
            <div class="text clearfix">
                <ul class="breadcrumbs clearfix">
                    <li><a href="#">Bupa Ru</a>&nbsp;&rarr;&nbsp;</li>
                    <li>Частным лицам</li>
                </ul>
                <h1>Предложения для частных лиц</h1>
                <div class="category-all clearfix">
                    {% for category in categories %}
                    <div class="category clearfix">
                        <img src="/static/img/{{ category.image_name }}" width="93" height="84" alt="">
                        <div class="category-desc">
                            <div class="category-title">{{ category.title }}</div>
                            <p>{{ category.article.text|removetags:'a p strong'|truncatechars:90 }}</p>
                            <a href="/category/{{ category.article.slug }}" class="category-button">Подробнее</a>
                        </div><!-- category-desc -->
                    </div><!-- category -->
                    {% endfor %}
                </div><!-- category-all -->
                <h3>Преимущества страхования по продукту BWHO (Bupa Worldwide Health Options):</h3>

                <p>1. для вас формируется индивидуальная программа медицинской помощи, учитывающая потребности и возможности ваши и вашей семьи&nbsp;<br></p>
                <p>2. вы будете спокойным за свое здоровье, так как сотрудники Bupa будут сопровождать каждый ваш шаг при излечении, подберут для вас подходящую клинику,
                    при необходимости запишут ко врачу в любом конкретном регионе&nbsp;</p>
                <p>3. вам будет предоставлена круглосуточная поддержка сотрудников Bupa, имеющих медицинское образование и владеющих иностранными языками,
                    готовых помочь вам с любыми вопросами, связанными с вашим здоровьем, а также интерактивный сервис онлайн.</p>
                <p>4. вы сможете лечить серьезные заболевания, возникшие во время действия полиса (онкология, трансплантация, диабет, глаукома и т.п.)</p
                <p>5. ваш возраст не является преградой для получения высококачественной международной медицинской помощи, компания Bupa сможет сопровождать вас в течение всей жизни, начиная с рождения</p>
                <p>Присоединяйтесь к лучшему! Будьте с компание Bupa всю жизнь.</p><p><br></p>
            </div><!-- text -->
        </div><!-- content-inside -->
    </section><!-- content -->
{% endblock %}