{% extends 'base.html' %}

{% block page_title %}Bupa.ru{% endblock %}
{% block body_content %}
    <section class="content">
        <div class="content-inside clearfix">
            <div class="text clearfix">
                <ul class="breadcrumbs clearfix">
                    <li><a href="/">Bupa Ru</a></li>

                </ul>
                <h1>{{ programm.name }}</h1>
                <div class="programm-table">
                {{ programm.table|safe }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}