{% extends 'base.html' %}

{% block page_title %}Bupa.ru{% endblock %}
{% block body_content %}
    <section class="content">
        <div class="content-inside clearfix">
            <div class="text clearfix">
                <ul class="breadcrumbs clearfix">
                    <li><a href="/">Bupa Ru</a>&nbsp;&rarr;&nbsp;</li>
                    <li>Новости</li>
                </ul>
                <div>
                    <a style="text-decoration: none;" href="/programms/2"><div class="medical-programm-option-base">
                        <div style="font-weight: bold;font-size: 24px;padding: 0.7em;color: #ffffff;text-shadow: 1px 1px 0px rgb(10,97,121);">World Wide Medical</div>
                        <span style="font-size: 22px;">Стационар</span>
                    </div></a>
                    <div style="margin: 20px 0;text-align: center; "><span style="font-size: 18px;">Подбираем дополнительные программы:</span></div>
                    <div style="padding: 0; margin: 0; text-align: left;">
                        <a href="/programms/3"><div class="float-left medical-programm option-green">
                            <div style="padding: 0.7em;">Worldwide Medical Plus</div>
                            <div>Поликлиника</div>
                        </div></a>
                        <a href="/programms/4"><div class="float-left medical-programm option-green">
                            <div style="padding: 0.7em;">Worldwide Medicines and Equipment</div>
                            <div>Лекарства и оборудование</div>
                        </div></a>
                        <a href="/programms/5"><div class="float-left medical-programm option-green">
                            <div style="padding: 0.7em;">Worldwide Wellbeing</div>
                            <div>Диспансеризация, забота о здоровье</div>
                        </div></a>
                        <a href="/programms/6"><div class="float-left medical-programm option-green">
                            <div style="padding: 0.7em;">Worldwide Evacuation</div>
                            <div>Эвакуация</div>
                        </div></a>
                    </div>
                    <div class="clear"></div>
                    <div style="margin: 20px;text-align: center; "><span style="font-size: 18px;">Расширяем возможности покрытия:</span></div>
                    <div style="padding: 0; margin: 0; text-align: left;">
                        <a href="/programms/15"><div class="float-left medical-programm option-blue">
                            <div style="padding: 0.7em;">USA cover</div>
                            <div>Страховое покрытие на территории США</div>
                        </div></a>
                        <a href="/programms/16"><div class="float-left medical-programm option-blue">
                            <div style="padding: 0.7em;">Cover for pre-existing conditions</div>
                            <div>Покрытие предсуществующих состояний</div>
                        </div></a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div style="margin-top: 2em;"><a href="/order/calculate" class="orange-button orange-button-content">подобрать полис</a></div>
            </div>
        </div>
    </section>
{% endblock %}