{% extends 'admin_base.html' %}

{% block body_content %}
<div>
    <div class="btn-group pull-right">
        <a class="btn btn-small btn-primary" href="{% url admin_insurance_programm_add %}">Добавить</a>
        <a class="btn btn-small btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/back">Доп функции</a> </li>
        </ul>
    </div>
    <p class="lead">Программы страхования</p>
</div>
<table class="table table-condensed">
    <thead>
        <tr>
            <th style="width: 30px;">#</th>
            <th>Название</th>
            <th style="width: 30px;"></th>
            <th style="width: 30px;"></th>

        </tr>
    </thead>
    <tbody>
    {% for programm in programms %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url admin_insurance_programm_edit programm.id %}">{{ programm.name }}</a></td>
            <td><a href="{% url admin_insurance_programm_edit programm.id %}"><i class="icon-pencil"></i></a></td>
            <td><a href="#" ><i class="icon-eye-close"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}