<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %}Admin Base Page{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="/static/css/redactor.css" />
    <script src="/static/js/jquery1.8.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/redactor.min.js"></script>
    <script src="/static/js/ru.js"></script>
</head>
<body style="padding-top: 60px;padding-bottom: 40px;">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/back">Панель управления Bupa.ru</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">Username</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="/back/content">Содержание</a></li>
                    <li><a href="#contact">Запросы на расчет <span class="badge badge-important">116</span></a></li>
                    <li><a href="#contact">Рассылки</a></li>
                    <li><a href="#contact">Статистика</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <!--Sidebar content-->
            {% block sidebar_content %}
                <ul class="nav nav-list">
                    <li class="nav-header">Содержание</li>
                    <li class="active"><a href="{% url admin_insurance_programm_list %}">Программы страхования</a></li>
                    <li><a href="/back/content/client-type">Типы клиентов</a></li>
                    <li><a href="/back/content/article">Статьи</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Сайт</li>
                    <li><a href="/back/content/article">Страницы</a></li>
                    <li><a href="/back/content/article">Меню</a></li>
                </ul>
            {% endblock %}
        </div>
        <div class="span9">
            {% block body_content %}{% endblock %}
        </div>
    </div>

</div>
</body>
</html>