{% load coretags %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <title>{% block page_title %}Bupolis{% endblock %}</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=1000">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!--[if lt IE 9]><script src="/static/js/html5.js"></script><![endif]-->
    <script type="text/javascript" src="/static/js/jquery1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#callback-click-button').click(function(){
                $.ajaxSetup({
                    success: function(data){
                        data = $.parseJSON(data);
                        $('#callback_name_id').val("");
                        $('#callback_phone_id').val("");
                        $('#callback-back-wrap').hide();
                }
            });
            $.post('/contacts/callback', {'name': $('#callback_name_id').val(), 'phone': $('#callback_phone_id').val()});
            });
        });

    </script>
</head>
<body>
<div class="main">
    <header>
        <div class="header-in">
            <div class="wrap clearfix">
                <div class="logo"><a href="/"></a></div>
                <div class="header-title">Международное медицинское страхование</div>
                <div class="header-contact">
                    <ul class="social clearfix">
                        <li><a href="#" class="social-ico-1"></a></li>
                        <li><a href="#" class="social-ico-2"></a></li>
                        <!--<li><a href="#" class="social-ico-3"></a></li>
                        <li><a href="#" class="social-ico-4"></a></li>-->
                    </ul>
                    <a href="mailto:info@bupolis.ru" class="mail-button">Написать письмо</a>
                </div><!-- header-contact -->
                <div class="header-phone clearfix">
                    <p>+7&nbsp;(495)&nbsp;223-04-61</p>
                    <a href="#" class="call-button">Мы Вам перезвоним</a>
                    {% show_callback_form %}
                </div><!-- header-phone -->
            </div><!-- wrap -->
        </div><!-- header-in -->
    </header>
    <div class="top-panel">
        <div class="wrap clearfix">
            <div class="search clearfix">
                <input type="text" class="input-text" value="Поиск по сайту" onblur="if(this.value==''){this.value='Поиск по сайту';}" onfocus="if(this.value=='Поиск по сайту'){this.value='';}">
                <input type="button" class="search-button">
            </div>
            <nav class="menu">
                <table>
                    <tr>
                        {% show_menu 'main' %}
                    </tr>
                </table>
            </nav>
        </div><!-- wrap -->
    </div><!-- top-panel -->
    <section class="content-columns">
        <div class="wrap clearfix">
            <aside class="sidebar">
                <div class="sidebar-inside clearfix">
                    <a href="/order/calculate" class="orange-button">Заказать расчет</a>
                    <ul class="sidebar-menu">
                        {% show_side_menu 'PR' %}
                    </ul>
                    <div class="med-programs"><a href="/programms">Медицинские программы</a></div>
                    {% show_info_block %}
                    <div class="faq">
                        <div class="faq-in">
                            <div class="faq-title">Возникли вопросы?</div>
                            <p>Возможно ответ уже есть в нашем <a href="/faq">разделе помощи.</a></p>
                        </div>
                    </div><!-- faq -->
                    <ul class="sidebar-logos clearfix">
                        <li><a href="/article/about-bupa"></a></li>
                        <li><a href="/article/about-ingos"></a></li>
                    </ul>
                    <div class="qr-code"><a href="/article/vizmi-bupa" style="border: 0px;"><img src="/static/img/qrcode2.png" width="150" height="150" alt="" style="display:block"></a></div>
                    <div class="vk"></div>
                    <div class="facebook"></div>
                </div><!-- sidebar-inside -->
            </aside><!-- sidebar -->
            {% block body_content %}{% endblock %}
        </div><!-- wrap -->
    </section><!-- content-columns -->
    <div class="footer-push"></div>
</div><!-- main -->
<footer>
    <div class="wrap clearfix">
        <div class="copy">
            &copy; 2013, Bupolis.ru<br>Все права защищены
        </div><!-- copy -->
        <div class="footer-r clearfix">
            <!--<a href="#" class="site-map-link">Карта сайта</a>-->
            <ul class="footer-menu clearfix">
                {% show_menu 'bottom' %}
            </ul>
            <div class="copy" style="width: 100%;">Использование материалов сайта возможно с обязательным указанием ссылки на главную страницу сайта</div>
        </div><!-- footer-r -->
    </div><!-- wrap -->
    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function(){ var widget_id = '57896';
            var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
    <!-- {/literal} END JIVOSITE CODE -->
</footer>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21216232 = new Ya.Metrika({id:21216232,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21216232" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>